header{
    background:rgba(26, 15, 15, 0.95);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 20px black;
    transition: all 0.3s ease;
}




.header-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}

.logo-text-row{
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo{
    width: 80px;
    height: auto;
}



.logo-container{
    font-size: 2rem;
    font-weight: bold;
    background: white;
    -webkit-text-fill-color:transparent;
    background-clip: text;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 2rem;
}

nav a{
    text-decoration: none;
    color: #f9f9f9;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

nav a:hover{
    color: white;
    background: #fba91a;
    box-shadow: 0 5px 15px #fba91a;
}

nav a.active{
    color: white;
    background:#fba91a;
    box-shadow: 0 5px 15px #fba91a;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 80px 20px 20px 20px;
}
h1{
    color:rgb(0, 0, 0);
    text-align: center;
    font-size: 4.5rem;
    margin-bottom: 0.3em;
    margin-top:4rem;
}
.about-sub{
    color: rgb(89, 88, 88);
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 1.5em;
}
.features{
    display: flex;
    justify-content: center;
    gap: 48px;
    margin-bottom: 3em;
}

.feature{
    text-align: center;
    max-width: 220px;
}

.icon {
    display: inline-block;
    background: #ffe9b3;
    border-radius: 50%;
    padding: 18px;
    font-size: 2rem;
    margin-bottom: 0.8em;
}

.feature h2{
    color: rgb(0, 0, 0);
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}


.feature p{
    font-size: 1rem;
    color:#525050;
}

.story{
    background:#f7f7f7;
    border-radius: 14px;
    padding: 30px 24px 30px 24px;
    margin-top: 2px;
}

.story h2{
    color: rgb(0, 0, 0);
    margin-bottom: 1em;
    font-size: 1.7em;
}

.story p{
    font-size: 1.05rem;
    margin-bottom: 0.8em;
    color: #525252;
}
.stars{
    display: flex;
    gap: 50px;
    justify-self: start;
    margin-top: 1.5em;
}

.star{
    text-align: left;
}

.star-value{
    color: #fba91a;
    font-size: 1.6rem;
    font-weight: bold;
}

.star-label{
    display: block;
    font-size: 1rem;
    color: #545454;
    margin-top: 0.2em;
}


.footer-info{
    margin-top: 5rem;
    background: #0d1725;
    color: white;
    padding: 60px 40px;

}

.footer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;

}


.footer-section{
    width: 23%;
    min-width: 200px;
}

.footer-section h2,
.footer-section h3{
    margin-bottom: 1rem;
}

.footer-section ul{
    list-style: none;
    padding: 0;
}

.footer-section ul li{
    margin: 0.5rem 0;
}

.footer-section ul li a{
    color: white;
    text-decoration: none;
    opacity: 0.8;
}

.footer-section ul li a:hover{
    opacity: 1;

}

.social-icons{
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.social-link{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 25px;
    color: white;
    text-decoration: none;
    transition: 0.3 ease;

}
.social-link:hover{
    background: white;
    color: #0d1725;



}


.footer-bottom{
    border-top: 1px solid rgb(255, 255,255,0.1);
    text-align: center;
    padding: 20px 0 0 0;
    margin-top: 40px;
    opacity: 0.8;
}

html body{
    margin: 0;
    padding: 0;
}