header{
    background:rgba(26, 15, 15, 0.95);;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 20px black;
    transition: all 0.3s ease;
}



.header-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}

.logo-text-row{
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo{
    width: 80px;
    height: auto;
}



.logo-container{
    font-size: 2rem;
    font-weight: bold;
    background: white;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


nav ul{
    display: flex;
    list-style: none;
    gap: 2rem;
}

nav a{
    text-decoration: none;
    color: #f9f9f9;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

@media(max-width:700px){
    .logo-text-row{
        flex-direction: column;
        gap: 0.8rem;
    }
    nav ul{
        flex-direction: column;
        gap:0.8rem;
    }
}


nav a:hover{
    color: white;
     background:#fba91a;
     box-shadow: 0 5px 15px #fba91a;
}

nav a.active{
    color: white;
    background: #fba91a;
    box-shadow: 0 5px 15px #fba91a;
}
.container {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif; */
  margin-top: 8rem;
}

.header-card {
  text-align: center;
  margin-bottom: 48px;
}
.header-card h1 {
  font-size: 4rem;
  color: #1f2937;
  margin-bottom: 12px;
}
.header-card p {
  font-size: 1.5rem;
  color: #6b7280;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

@media (max-width: 1024px) {
.main-grid {
  grid-template-columns: 1fr;
      }
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contact-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #e5e7eb;
  padding: 24px;
  display: flex;
  align-items: flex-start;
  gap: 16px;
  width: 33rem;
  margin-left: 7rem;
}

.contact-icon {
  width: 24px;
  height: 24px;
  color: #ea580c;
  flex-shrink: 0;
  padding-top: 1.3rem;
}

.contact-card h3 {
  font-size: 18px;
  color: #1f2937;
  margin-bottom: 8px;
}

.contact-card p {
  font-size: 14px;
  color: #6b7280;
  margin: 2px 0;
}

.form-card { 
  background: white;
  border-radius: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #e5e7eb;
  padding: 32px;
  margin-right: 7rem;
}

.form-card h2 {
  font-size: 24px;
  color: #1f2937;
  margin-bottom: 24px;
  text-align: center;
}

.form-group {
  margin-bottom: 16px;
  position: relative;
  background-color:#ffffff;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.form-label{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #374151;
    margin-bottom: 8px;
    font-weight: 500;
}

.label-icon{
    width: 20px;
    height: 20px;
    color: #cb6a02;
}
.form-group textarea{
    padding: 12px 16px;
}

.input-wrapper {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  color: #cb6a02;
  pointer-events: none;
  z-index: 1;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator
{
    cursor: pointer;
    margin-left: auto;
}

.textarea-icon {
  position: absolute;
  left: 12px;
  top: 16px;
  width: 20px;
  height: 20px;
  color: #6b6c6e;
}

input,textarea{
  padding: 12px 16px 12px 44px;
  background: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  font-size: 14px;
  color: #1f2937;
  outline: none;
  transition: all 0.2s;
}
.full-name{
  width: 30.4rem;
}
.date-time{
  width: 12rem;
}
.e-mail{
  width: 12rem;
}
.phone-input{
  width: 12rem;
  letter-spacing: 1px;
}

.guest-no{
  width: 30.4rem;
}

.special-request{
  width: 31.7rem;
}
input::placeholder, textarea::placeholder {
  color: #9ca3af;
}

input:focus, textarea:focus {
  border-color: #ea580c;
  /* ring: 2px solid rgba(234, 88, 12, 0.2); */
  box-shadow: 0 0 0 3px rgba(234, 88, 12, 0.1);
}

textarea {
  resize: none;
  min-height: 100px;
}

.submit-btn {
  width: 36.5rem;
  background: #ea580c;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s;
}

.submit-btn:hover {
  background: #c2410c;
}


html body{
    margin: 0;
    padding: 0;
}

.footer-info{
    margin-top: 8rem;
    background: #0d1725;
    color: white;
    padding: 60px 40px;

}

.footer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;

}


.footer-section{
    width: 23%;
    min-width: 200px;
}

.footer-section h2,
.footer-section h3{
    margin-bottom: 1rem;
}

.footer-section ul{
    list-style: none;
    padding: 0;
}

.footer-section ul li{
    margin: 0.5rem 0;
}

.footer-section ul li a{
    color: white;
    text-decoration: none;
    opacity: 0.8;
}

.footer-section ul li a:hover{
    opacity: 1;

}

.social-icons{
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.social-link{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 25px;
    color: white;
    text-decoration: none;
    transition: 0.3 ease;

}
.social-link:hover{
    background: white;
    color: #0d1725;



}

.footer-bottom{
    border-top: 1px solid rgb(255, 255,255,0.1);
    text-align: center;
    padding: 20px 0 0 0;
    margin-top: 40px;
    opacity: 0.8;
}
