header{
    background:rgba(26, 15, 15, 0.95);;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 20px black;
    transition: all 0.3s ease;
}




.header-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}

.logo-text-row{
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo{
    width: 80px;
    height: auto;
}



.logo-container{
    font-size: 2rem;
    font-weight: bold;
    background: white;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


nav ul{
    display: flex;
    list-style: none;
    gap: 2rem;
}

nav a{
    text-decoration: none;
    color: #f9f9f9;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}



nav a:hover{
    color: white;
     background:#fba91a;
     box-shadow: 0 5px 15px #fba91a;
}

nav a.active{
    color: white;
    background: #fba91a;
    box-shadow: 0 5px 15px #fba91a;
}
.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 80px 20px 20px 20px;
}

h1{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 4.5rem;
    margin-bottom: 0.1em;
    margin-top: 4rem;
}

.gallery{
    color: rgb(89, 88, 88);
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 1.5em;

}

.photo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin-left: 11.8rem;
    margin-right: 11.8rem;


}


.cart{
    position: relative;
    width: 350px;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 1.5rem;
    background: #fff;
    margin-right: 1rem;
    box-shadow: 0 10px 30px 5px rgb(91, 90, 90);
}

.cart img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all.4s ease;
    
}

.cart:hover img{
    transform: scale(1.1);
    filter: brightness(60%);
}

.cart-text{
    position: absolute;
    top: 50%;
    left: 25%;
    color:white;
    font-size: 25px;
    font-weight: 600;
    opacity: 0;
    transition: 0.4s ease;
    pointer-events: none;
    z-index: 2;
}

.cart:hover .cart-text{
    opacity: 1;
}


html body{
    margin: 0;
    padding: 0;
}

.footer-info{
    margin-top: 8rem;
    background: #0d1725;
    color: white;
    padding: 60px 40px;

}

.footer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;

}


.footer-section{
    width: 23%;
    min-width: 200px;
}

.footer-section h2,
.footer-section h3{
    margin-bottom: 1rem;
}

.footer-section ul{
    list-style: none;
    padding: 0;
}

.footer-section ul li{
    margin: 0.5rem 0;
}

.footer-section ul li a{
    color: white;
    text-decoration: none;
    opacity: 0.8;
}

.footer-section ul li a:hover{
    opacity: 1;

}
.social-icons{
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.social-link{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 25px;
    color: white;
    text-decoration: none;
    transition: 0.3 ease;

}
.social-link:hover{
    background: white;
    color: #0d1725;



}


.footer-bottom{
    border-top: 1px solid rgb(255, 255,255,0.1);
    text-align: center;
    padding: 20px 0 0 0;
    margin-top: 40px;
    opacity: 0.8;
}