header{
    background:rgba(26, 15, 15, 0.95);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 20px black;
    transition: all 0.3s ease;
}




.header-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}

.logo-text-row{
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo{
    width: 80px;
    height: auto;
}



.logo-container{
    font-size: 2rem;
    font-weight: bold;
    background: white;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


nav ul{
    display: flex;
    list-style: none;
    gap: 2rem;
}

nav a{
    text-decoration: none;
    color: #f9f9f9;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}



nav a:hover{
    color: white;
     background:#fba91a;
     box-shadow: 0 5px 15px #fba91a;
}

nav a.active{
    color: white;
    background: #fba91a;
    box-shadow: 0 5px 15px #fba91a;
}

main{
    margin-top: 100px;
    padding: 2rem;
}

.home{
    max-width: 1400px;
    margin: 0 auto;
}

.intro{
    text-align: center;
    padding: 2.5rem 1rem 2rem;
    background:none;
    border-radius: 16px;
    margin-bottom: 2rem;
}




.intro h1{
    font-size: 5.5rem;
    margin-bottom: 0.8rem;
    color: #fefefe;
    text-shadow: 1px 2px 6px rgb(50,30,70);
}


.intro p{
    font-size: 1.5rem;
    color: #ffffff;
    text-shadow: 1px 2px 6px rgb(50,30,70);
    max-width: 550px;
    margin: 0 auto;
}

.view{
    background-color: #dc7900;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none;

}
.btn-row{
    display: flex;
    justify-content: center;
    gap: 1rem;
}


.view:hover{
    background-color: #ffffff;
    color: black;
}



body{
    background-image: url(123.png);
    background-repeat: no-repeat;
    background-size:cover;
}

html body{
    margin: 0;
    padding: 0;
}

.footer-info{
    margin-top: 30.4rem;
    background: #0d1725;
    color: white;
    padding: 60px 40px;

}

.footer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;

}


.footer-section{
    width: 23%;
    min-width: 200px;
}

.footer-section h2,
.footer-section h3{
    margin-bottom: 1rem;
}

.footer-section ul{
    list-style: none;
    padding: 0;
}

.footer-section ul li{
    margin: 0.5rem 0;
}

.footer-section ul li a{
    color: white;
    text-decoration: none;
    opacity: 0.8;
}

.footer-section ul li a:hover{
    opacity: 1;

}
.social-icons{
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.social-link{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 25px;
    color: white;
    text-decoration: none;
    transition: 0.3 ease;

}
.social-link:hover{
    background: white;
    color: #0d1725;



}


.footer-bottom{
    border-top: 1px solid rgb(255, 255,255,0.1);
    text-align: center;
    padding: 20px 0 0 0;
    margin-top: 40px;
    opacity: 0.8;
}


